<table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Title</th>
        <th>Email</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor= "let dataItem of empList">
        <td>{{dataItem.empId}}</td>
        <td>{{dataItem.empName}}</td>
        <td>{{dataItem.empTitle}}</td>
        <td>{{dataItem.empEmail}}</td>
        <td>
          <button type="button" class="btn btn-light mr-1" >Edit</button>
          <button type="button" class="btn btn-light mr-1" >Delete</button>
        </td>
      </tr>
    </tbody>
  </table>