<div class="form forup row">
    <label class="col-sm-2 col-form-label"> Employee Name </label>
    <div class="col-sm-10">
        <input class="form-control" type="text" [(ngModel)]="empName" placeholder="Employee Name"> 
    </div>
    <label class="col-sm-2 col-form-label"> Employee Title </label>
    <div class="col-sm-10">
        <input class="form-control" type="text" [(ngModel)]="empTitle" placeholder="Employee Title"> 
    </div>
    <label class="col-sm-2 col-form-label"> Employee Email </label>
    <div class="col-sm-10">
        <input class="form-control" type="text" [(ngModel)]="empEmail" placeholder="Employee Email"> 
    </div>
</div>
<button class="btn btn-primary" (click)="addEmployee" *ngIf="emp.empId==0"> 
    ADD
</button>
<button class="btn btn-primary" (click)="updateEmployee" *ngIf="emp.empId!=0"> 
    Update
</button>